/*$code-light-theme: one-light;*/
// $code-light-theme: hopscotch;
// $code-light-theme: lucario;
// $code-light-theme: pojoaque;
// $code-light-theme: shades-of-purple;
$one-light:red;
$code-light-theme: one-light;

$code-dark-theme: one-dark;