#app .site-name {
    font-weight: 800;
}
#main-content .hero-info #main-title {
    margin-left: 0.7rem;
}
#main-content .hero-info .description {
    margin-left: 0.7rem;
}
#toc .toc-header {
    display: none;
}
#toc {
    max-width: 21rem;
}
#toc .toc-list .toc-item a {
    color: #B8860B;
    font-size: 1.3rem;
    font-weight: 700;
}
#toc .toc-list .toc-list .toc-item a {
    color: #336699;
    font-size: 1.2rem;
    font-weight: 600;
}
#toc .toc-list .toc-list .toc-list .toc-item a {
    color: #008B8B;
    font-size: 1.1rem;
    font-weight: 600;
}
#toc .toc-list .toc-list .toc-list .toc-list .toc-item a {
    color: #92893bfd;
    font-size: 1.1rem;
    font-weight: 600;
}
#toc .toc-item.active > .toc-link {
    background-color: var(--theme-color-mask);
}

.sidebar > .sidebar-links > li:not(:first-child) {
    margin-top: 0rem;
}
.sidebar > .sidebar-links .sidebar-group {
    font-size: 0.95rem;
    font-weight: 550;
}
.sidebar > .sidebar-links > li a {
    font-weight: 500;
}
p, ul, ol {
    line-height: 1.0rem;
}
/*所有导航页面超链接字体大小*/
.page .theme-hope-content .breadcrumb-link {
    font-size: 1.1rem;
}

/*手机*/
@media screen and (max-width:600px){
    /*博客正文中样式中标签样式修改开始----------------------------------------------------------------------*/
    .page .page-title .page-info .tags-wrapper li {
        width: 8rem;
    }
    .page .page-title .page-info .tags-wrapper li:nth-child(n) {
        float:left;
        display:inline;
    }
    .page .page-title .page-info .tags-wrapper li:nth-child(2n+1) {
        clear:both;
    }
    /*博客正文中样式中标签样式修改结束----------------------------------------------------------------------*/

    /*博客主页中样式中标签样式修改开始----------------------------------------------------------------------*/
    .blog-home .page-info .tags-wrapper li {
        width: 8rem;
    }
    .blog-home .page-info .tags-wrapper li:nth-child(n) {
        float:left;
        display:inline;
    }
    .blog-home .page-info .tags-wrapper li:nth-child(2n+1) {
        clear:both;
    }
    /*博客主页中样式中标签样式修改结束----------------------------------------------------------------------*/

    /*博客主页中样式中标签样式修改开始----------------------------------------------------------------------*/
    .blog-page .article-wrapper .page-info .tags-wrapper li {
        width: 8rem;
    }
    .blog-page .article-wrapper .page-info .tags-wrapper li:nth-child(n) {
        float:left;
        display:inline;
    }
    .blog-page .article-wrapper .page-info .tags-wrapper li:nth-child(2n+1) {
        clear:both;
    }
    /*博客主页中样式中标签样式修改结束----------------------------------------------------------------------*/

    $sidebar-width-max600:100%;

    /*侧边栏宽度*/
    .sidebar {
        width: $sidebar-width-max600;
    }
    /*侧边栏切换按钮宽度*/
    .toggle-sidebar-wrapper {
        left: $sidebar-width-max600;
    }
    /**主要内容*/
    .theme-container .page {
        padding-left: 1rem;
    }
    /*博客正文字体*/
    .theme-hope-content {
        font-size: 1.1rem;
        font-weight: 500;
    }
    .theme-hope-content pre, .theme-hope-content pre[class*=language-] {
        white-space: pre-wrap;
        word-wrap: break-word;
        background: #F6F8FA;
        overflow: auto;
        margin: 0 0;
        padding: 1rem;
        border-radius: 6px;
    }
    .theme-container .sidebar-links .sidebar-sub-headers {
        display: none;
    }
}

/*平板*/
@media screen and (min-width:600px) and (max-width:960px){
    /*博客正文中样式中标签样式修改开始----------------------------------------------------------------------*/
    .page .page-title .page-info .tags-wrapper li {
        width: 8.5rem;
    }
    .page .page-title .page-info .tags-wrapper li:nth-child(n) {
        float:left;
        display:inline;
    }
    .page .page-title .page-info .tags-wrapper li:nth-child(3n+1) {
        clear:both;
    }
    /*博客正文中样式中标签样式修改结束----------------------------------------------------------------------*/

    /*博客主页中样式中标签样式修改开始----------------------------------------------------------------------*/
    .blog-home .page-info .tags-wrapper li {
        width: 9rem;
    }
    .blog-home .page-info .tags-wrapper li:nth-child(n) {
        float:left;
        display:inline;
    }
    .blog-home .page-info .tags-wrapper li:nth-child(2n+1) {
        clear:both;
    }
    /*博客主页中样式中标签样式修改结束----------------------------------------------------------------------*/

    /*博客主页中样式中标签样式修改开始----------------------------------------------------------------------*/
    .blog-page .article-wrapper .page-info .tags-wrapper li {
        width: 9rem;
    }
    .blog-page .article-wrapper .page-info .tags-wrapper li:nth-child(n) {
        float:left;
        display:inline;
    }
    .blog-page .article-wrapper .page-info .tags-wrapper li:nth-child(2n+1) {
        clear:both;
    }
    /*博客主页中样式中标签样式修改结束----------------------------------------------------------------------*/

    $sidebar-width-min600_max900:50%;

    /*侧边栏宽度*/
    .sidebar {
        width: $sidebar-width-min600_max900;
    }
    /*侧边栏切换按钮宽度*/
    .toggle-sidebar-wrapper {
        left: $sidebar-width-min600_max900;
    }
    /**主要内容*/
    .theme-container .page {
        padding-left: 1rem;
    }
    /*博客正文字体*/
    .theme-hope-content {
        font-size: 1.1rem;
        font-weight: 500;
    }
    .theme-hope-content pre, .theme-hope-content pre[class*=language-] {
        white-space: pre-wrap;
        word-wrap: break-word;
        background: #F6F8FA;
        overflow: auto;
        margin: 0 0;
        padding: 1rem;
        border-radius: 6px;
    }
    /**设置移动端隐藏按照章节查看中二级包括二级以上的侧边栏*/
    .theme-container .sidebar-links .sidebar-sub-headers {
        display: none;
    }
}

/*PC分辨率 960-1440 */
@media screen and (min-width:960px) and (max-width:1440px){
    /*博客正文中样式中标签样式修改开始----------------------------------------------------------------------*/
    .page .page-title .page-info .tags-wrapper li {
        width: 9rem;
    }
    .page .page-title .page-info .tags-wrapper li:nth-child(n) {
        float:left;
        display:inline;
    }
    .page .page-title .page-info .tags-wrapper li:nth-child(5n+1) {
        clear:both;
    }
    /*博客正文中样式中标签样式修改结束----------------------------------------------------------------------*/

    /*博客主页中样式中标签样式修改开始----------------------------------------------------------------------*/
    .blog-home .page-info .tags-wrapper li {
        width: 10rem;
    }
    .blog-home .page-info .tags-wrapper li:nth-child(n) {
        float:left;
        display:inline;
    }
    .blog-home .page-info .tags-wrapper li:nth-child(4n+1) {
        clear:both;
    }
    /*博客主页中样式中标签样式修改结束----------------------------------------------------------------------*/

    /*博客主页中点击全部出来的文章列表样式中标签样式修改开始----------------------------------------------------------------------*/
    .blog-page .article-wrapper .page-info .tags-wrapper li {
        width: 10rem;
    }
    .blog-page .article-wrapper .page-info .tags-wrapper li:nth-child(n) {
        float:left;
        display:inline;
    }
    .blog-page .article-wrapper .page-info .tags-wrapper li:nth-child(4n+1) {
        clear:both;
    }
    /*博客主页中点击全部出来的文章列表样式中标签样式修改结束----------------------------------------------------------------------*/

    $sidebar-width-min960_max1440:30%;

    /*侧边栏宽度*/
    .sidebar {
        width: $sidebar-width-min960_max1440;
    }
    /*侧边栏切换按钮宽度*/
    .toggle-sidebar-wrapper {
        left: $sidebar-width-min960_max1440;
    }
    /**主要内容*/
    .theme-container .page {
        padding-left: 1rem;
    }
    /*博客正文字体*/
    .theme-hope-content {
        font-size: 1.3rem;
        font-weight: 500;
    }
    .theme-hope-content pre, .theme-hope-content pre[class*=language-] {
        white-space: pre-wrap;
        word-wrap: break-word;
        background: #F6F8FA;
        overflow: auto;
        margin: 0 0;
        padding: 1rem;
        border-radius: 6px;
    }
    /**设置移动端隐藏按照章节查看中二级包括二级以上的侧边栏*/
    .sidebar .sidebar-links .sidebar-sub-headers {
        display: none;
    }
}

/*PC分辨率 1440+ */
@media screen and (min-width:1440px){

    /*博客正文中样式中标签样式修改开始----------------------------------------------------------------------*/
    .page .page-title .page-info .tags-wrapper li {
        width: 9.5rem;
    }
    .page .page-title .page-info .tags-wrapper li:nth-child(n) {
        float:left;
        display:inline;
    }
    .page .page-title .page-info .tags-wrapper li:nth-child(6n+1) {
        clear:both;
    }
    /*博客正文中样式中标签样式修改结束----------------------------------------------------------------------*/

    /*博客主页中样式中标签样式修改开始----------------------------------------------------------------------*/
    .blog-home .page-info .tags-wrapper li {
        width: 10rem;
    }
    .blog-home .page-info .tags-wrapper li:nth-child(n) {
        float:left;
        display:inline;
    }
    .blog-home .page-info .tags-wrapper li:nth-child(4n+1) {
        clear:both;
    }
    /*博客主页中样式中标签样式修改结束----------------------------------------------------------------------*/

    /*博客主页中点击全部出来的文章列表样式中标签样式修改开始----------------------------------------------------------------------*/
    .blog-page .article-wrapper .page-info .tags-wrapper li {
        width: 10rem;
    }
    .blog-page .article-wrapper .page-info .tags-wrapper li:nth-child(n) {
        float:left;
        display:inline;
    }
    .blog-page .article-wrapper .page-info .tags-wrapper li:nth-child(4n+1) {
        clear:both;
    }
    /*博客主页中点击全部出来的文章列表样式中标签样式修改结束----------------------------------------------------------------------*/

    $sidebar-width-min1440:20%;

    /*侧边栏宽度*/
    .sidebar {
        width: $sidebar-width-min1440;
    }
    /*侧边栏切换按钮宽度*/
    .toggle-sidebar-wrapper {
        left: $sidebar-width-min1440;
    }
    /**主要内容*/
    .theme-container .page {
        padding-left: $sidebar-width-min1440;
    }
    /*博客正文字体*/
    .theme-hope-content {
        font-size: 1.4rem;
        font-weight: 500;
    }
    .theme-hope-content pre, .theme-hope-content pre[class*=language-] {
        white-space: pre-wrap;
        word-wrap: break-word;
        background: #F5F5FA;
        overflow: auto;
        margin: 0 0;
        padding: 1rem;
        border-radius: 6px;
    }
    .theme-hope-content pre {
        padding-top: 2rem;
    }
    /*代码块背景色*/
    div[class*=language-] {
        position: relative;
        border-radius: 6px;
        background: #C7EDCC;
        transition: background-color var(--color-transition);
    }
    /*按钮背景色*/
    .copy-code-button {
        border-width: 0;
        background-color: transparent;
        cursor: pointer;
        width: 32px;
        height: 32px;
        padding: 7px 8px;
        border-radius: 50%;
        background: var(--theme-color);
        color: #fff;
        outline: none;
    }
}